*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root  {
    --black: rgba(0, 0, 0, 1);
    --Rich-Black: rgba(10, 17, 31, 1);
    --oxford-blue: rgba(20, 33, 61, 1);
    --coyote-brown: rgba(136, 98, 39, 1);
    --orange-web: rgba(252, 163, 17, 1);
    --Gold-crayola: rgba(241, 196, 123, 1);
    --cultured: rgba(242, 242, 242, 1);
    --platinum: rgba(229, 229, 229, 1);
    --withe: rgba(255, 255, 255, 1);
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* ===========================================BODY============================================================================================= */
body{
    background-color: var(--oxford-blue);
}
/* ===========================================HEADER======================================================================= */
header{
    padding: 0px 10px;
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: var(--Rich-Black)
}

main h1{
    color: var(--orange-web);
    margin: 10px auto 10px 20px;
    text-align: center;
    font-size: 2.5rem;

}
main h3{
    color: var(--cultured);
    margin: 10px 15px 10px 20px;
    font-size: 1.7rem;
    text-align: center;
}


.logo-header--img{
    height:32px; 
    width: auto;
    margin-left: 10px;
    
}

.header-portafolio-container{
    list-style: none;
    display: flex;
    justify-self: right;
}


.enlace-portafolio{
    color: var(--platinum);
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    text-align: right;
}

/* ===========================================MAIN========================================================================= */
main{
    width: 100%;
    min-width: 320px;
    background-color: var(--oxford-blue);
    margin: 0;
    display: flex;
    align-items: center;
    height: 83.3vh;
}


.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    cursor: pointer;
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    cursor: pointer;
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    cursor: pointer;
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    cursor: pointer;
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-width: 300px;
    height: 80px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.3rem;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 150px);
    border-radius: 20px;
    border: transparent;
    outline: none;
    cursor: pointer;
  }

  .btn-start:hover{
    background: #2c3e50;
    color: #ecf0f1;

  }

  .hide {
    display: none;
  }

/* ===========================================FOOTER======================================================================= */

footer{
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--Rich-Black);
}

.footer-left{
    min-width: 320px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;

}

.footer-left h3{
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
    color: var(--platinum);
}

.footer-right{
    min-width: 320px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;

}

.footer-right a{
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 10px 20px;
}

.facebook{
    background-image: url(../assets/icon/facebook.png);
}

.instagram{
    background-image: url(../assets/icon/instagram.png);
}

.twitter{
    background-image: url(../assets/icon/twitter.png);
}

.github{
    background-image: url(../assets/icon/github.png);
}
/* ===========================================media 800px========================================================================= */
@media screen and (min-width: 1024px){

    html {
        font-size: 78%;
    }

    .logo-header--img{
        margin: 0 40px;
    }

    .enlace-portafolio{
        margin-right: 50px;
    }


} /* Final  del media 1024px*/